html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers";
  letter-spacing: 1px;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.5rem;
}

hr {
  clear: both;
  margin: 1rem 0;
  border: 1px solid #000;
}

img {
  max-width: 100%;
}

p {
  font-size: 0.77rem;
  line-height: 1.1rem;
  color: #333;
}

body {
  max-width: 900px;
  margin: 0 auto;
}

main {
  margin: 4rem 0;
  padding: 1rem;
}
@media (max-width: 800px) {
  main {
    margin-top: 6rem;
  }
}

header#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 900px;
  background: #fff;
  background: rgba(255, 255, 255, 0.95);
}
header#top > a {
  flex: 0 0 183px;
  margin-right: 1rem;
}
@media (max-width: 800px) {
  header#top > a {
    margin-right: 0;
  }
}
header#top button {
  display: none;
}
@media (max-width: 800px) {
  header#top {
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-bottom: 0;
  }
}
@media (max-width: 500px) {
  header#top {
    padding: 0;
    background: none;
  }
  header#top nav,
header#top button {
    margin: -1px 0;
  }
  header#top > a {
    background: #fff;
    background: rgba(255, 255, 255, 0.95);
    flex: 0 0 100%;
    padding: 0.5rem 0;
    text-align: center;
    z-index: 1;
  }
  header#top button {
    background: #dedede;
    background: rgba(222, 222, 222, 0.95);
    border: 0;
    padding: 0;
    z-index: 1;
    display: block;
    width: 100%;
  }
  header#top button svg {
    width: 1rem;
    height: auto;
    fill: #bebebe;
  }
  header#top button svg:first-child {
    display: none;
  }
  header#top nav {
    background: #fff;
    opacity: 0;
    transform: translateY(-100%);
    transition: 0.25s ease-out;
    visibility: hidden;
    z-index: 0;
  }
  header#top.menu-open > a {
    background: #fff;
  }
  header#top.menu-open button {
    background: #dedede;
  }
  header#top.menu-open button svg:first-child {
    display: inline;
  }
  header#top.menu-open button svg:last-child {
    display: none;
  }
  header#top.menu-open nav {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
header#top nav {
  margin: 0 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  header#top nav {
    margin: 0 1rem;
  }
}
@media (max-width: 500px) {
  header#top nav {
    display: block;
  }
}
header#top nav a {
  padding: 1rem 0.5rem;
  font-size: 0.9em;
  color: #555;
  text-decoration: none;
}
@media (max-width: 500px) {
  header#top nav a {
    display: block;
    text-align: center;
    border-top: 1px solid #bebebe;
  }
}
header#top nav a:first-child {
  border-top: none;
  padding-left: 0;
}
@media (max-width: 800px) {
  header#top nav a:last-child {
    padding-right: 0;
  }
}

footer {
  margin: 3rem 0 0;
}
footer p {
  margin: 0.3rem 0;
}
footer p.phone-number {
  margin: 0.5rem 0;
}
footer small {
  margin: 1rem 0;
  display: block;
  color: #777;
  font-size: 0.8rem;
  text-align: center;
}

/*# sourceMappingURL=site.css.map */
