@use "variables" as *;

section {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
}

section#hero {
  flex: 1 0 50%;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  > div {
    margin: 3rem 0;
    &:last-child {
      @media (max-width: $breakpoint-tablet) {
        display: none;
      }
    }
  }
  h1 {
    font-size: 72px;
    max-width: 100%;
  }
  button {
    padding: 0.25rem 1rem;
    font-size: 0.9rem;
    color: #777;
    background: none;
    border: 1px solid #555;
  }
}

section.above-fold > article {
  flex: 1 1 230px;
}
section.below-fold > article {
  flex: 1 1 286px;
}

article {
  padding-right: 1rem;
  margin: 1rem 0;
}

img.middle-img {
  width: 100%;
}
